
.grilla{
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.formcontrol{
  background-color: #000000;
  color: white;
}
.grillahija{
  background-color: #000000;
  color: white;
}
.select {
  background-color: #000000;
  color: white;
}
.menuitem{
  background-color: #6c6b6b;
  color: white;
}

.inputlabel {
  background-color: #000000;
  color: white;}
