.img_display {
  width: 9.375rem;
}
@media screen and (max-width: 576px) {
  .img_display {
    display: none;
  }
}

.img_display {
  width: 9.375rem;
}
.brand,
.container {
  background-color: black;
  font-size: 1.4rem;
}

.brand:hover {
  transition: all 0.5s;
  font-size: 1.5rem;
}

.container_1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: black;
}

.burga_boton {
  background-color: #616161;
}

