.footer_section {
  width: 200px;
  margin-bottom: 20px;
}

.footer_section h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.footer_section p,
.footer_section hr {
  font-size: 0.9em;
  line-height: 1.5;
  margin: 10px 0;
}

.footer_section .footer_buttons {
  display: flex;
  margin-top: 10px;
}

.footer_section .footer_buttons img {
  width: 40px;
  height: auto;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5px;
}

.footer_buttons img:hover {
  background-color: rgb(191, 225, 255);
  transition: background-color 0.3s;
  
}

.contact_button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.contact_button:hover {
  background-color: #0056b3;
}

.footer_logos {
  display: flex;
  justify-content: space-between;

}

.footer_logos img:hover {
  background-color: rgb(0, 28, 51);
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.3s;
   
}